body {
  font: 17px sans-serif;
}

.login_body {
  width: 450px;
  padding: 20px;
}

/*
.wrapper {
  width: 360px;
  padding: 20px;
} */

#div_footer {
  text-align: center;
  background-color: black;
  color: white;
}

.xdebug-error {
  margin-top: 30px;
}
